header {
  height: 80px;
  background-color: #2e3a46;
}

.logo {
  height: 100%;
}

main {
  min-height: calc(100vh - 80px);
  background-color: #1e2d3b;
}

.card {
  width: 180px;
  height: 320px;
  margin-top: 16px;
  background-color: rgba(255, 255, 255, 0.088);
  text-align: center;
}

.image {
  margin-bottom: 16px;
}

.title {
  color: white;
}

.author,
.year {
  color: gray;
}